<% @page_title = "Razine" %>
<div>
	<div class="title"><%=  Concept.find(params[:concept_id]).name.upcase %></div>
	<%= link_to concepts_index_path() do %>
		Povratak na odabir kategorija
	<% end %>
</div>

<div class="lvls">
	<% @levels.each do |l| %>
		<%= link_to questions_index_path(:id => l.id), :class => "btn btn-default btn-lg lvl", :data => {:id => l.id} do %>
			Razina <%= l.level_no %>

			<% if UserLevel.where(:user_id => current_user.id, :level_id => l.id).first.blank? and l.id != 1 and UserLevel.where(:user_id => current_user.id, :level_id => l.id-1).first.blank? and l.level_no != 1%>
				<div><%= image_tag "locked.png", class: "locked-image"  %></div>
			<% else %>
				<div id="hack-div">AAAA</div>
			<% end %>

			<div>
				<% user_level = UserLevel.where(:user_id => current_user.id, :level_id => l.id).first %>
				<% status = [] %>
				<% if !user_level.blank? && (user_level.q4_status == true || user_level.q4_status == false) %>
					<% user_level.q1_status == true ? status << 1 : nil  %>
					<% user_level.q2_status == true ? status << 1 : nil  %>
					<% user_level.q3_status == true ? status << 1 : nil  %>
					<% user_level.q4_status == true ? status << 1 : nil  %>
					<% status.pop %>
					<% if status.length > 0 %>
						<div class="stars">
							<% status.each do |star| %>
								<%= image_tag "gold_star.png", class: "gold-star" %>
							<% end %>
							<% (1..3-status.count).each do |star| %>
								<%= image_tag "silver_star.png", class: "silver-star" %>
							<% end %>
						</div> 
					<% else %>
						<div class="stars">
							<% (1..3).each do |star| %>
								<%= image_tag "silver_star.png", class: "silver-star" %>
							<% end %> 
						</div>     
					<% end %>
				<% else %>
					<div class="stars">
						<% (1..3).each do |star| %>
							<%= image_tag "silver_star.png", class: "silver-star" %>
						<% end %> 
					</div>  										              
				<% end %>				
			</div>
		<% end %>
	<% end %>
</div>


