<!DOCTYPE html>
<html>

  <head>
    <title>ProjektGamification</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>

    <div id="header">
      <h1>Game Name</h1>
    </div>
    
    <%= yield %>
  </body>

</html>
