<%= form_for(@answer) do |f| %>
	<div class="field">	
		<%= f.label :Pitanje %>
		<%= f.text_field :question_id %>
	</div>
	<div class="field"> 
		<%= f.label :Tekst %>
		<%= f.text_field :ans %>
	</div>
	<div class="field"> 
		<%= f.label :Objašnjene %>
		<%= f.text_field :explanation %>
	</div>
  	<div class="field">
	    	<%= f.label :Točan %>
	    	<%= f.check_box :correct %>
	 </div>
	<div class="field sub-btn">
		<%= f.submit "Stvori" %>
	</div>
<% end %>