<%= form_for(@concept) do |f| %>
	<div class="field">	
		<%= f.label :Ime %>
		<%= f.text_field :name %>
	</div>
	<div class="field"> 
		<%= f.label :Roditelj %>
		<%= f.text_field :parent_id %>
	</div>
	<div class="field sub-btn">
		<%= f.submit "Stvori" %>
	</div>
<% end %>