<%= form_for(@level) do |f| %>
	<div class="field">	
		<%= f.label :Kategorija %>
		<%= f.text_field :concept_id %>
	</div>
	<div class="field"> 
		<%= f.label :Broj_razine %>
		<%= f.text_field :level_no %>
	</div>
	<div class="field sub-btn">
		<%= f.submit "Stvori" %>
	</div>
<% end %>