<%= form_for(@question) do |f| %>
	<div class="field">	
		<%= f.label :Razina %>
		<%= f.text_field :level_id %>
	</div>
	<div class="field"> 
		<%= f.label :Tekst %>
		<%= f.text_field :question_text %>
	</div>
	<div class="field sub-btn">
		<%= f.submit "Stvori" %>
	</div>
<% end %>
