<%@page_title = "Level"%>
<%level = Level.find(params[:id])%>

<div class="title">Level <%= level.level_no%></div>
<div class="question_boxes">
	<% (1..4).each do |q_num| %>
		<% class_name = "question_box" + q_num.to_s %>
		<button class=<%=class_name%> disabled="disabled"><%= q_num %></button>
	<% end %>
</div>
<div class="question" data-level-id="<%= params[:id] %>">
	<% if !@q.blank? %>
		<div class="pitanje"><%= @q.question_text %>		
		</div>
		<ol>
			<% @answers = Answer.where(:question_id => @q.id) %>
			<% @answers.each do |a| %>
				<li class="odgovor">
					<button class="answers btn btn-default btn-s" data-id="<%= a.id %>"><%= a.ans %></button>
				</li>
			<% end %>
		</ol>
	<% else %>
		<% if false %>
			<% @questions = Question.where(:level_id => params[:id]) %>
			<% @questions.each do |q| %>
				<% UserQuestion.find_by(:question_id => q.id).destroy %>
			<% end %>
		<% end %>	
	<% end %>
</div>
<% if !@q.blank? %>
	<%= link_to "<< povratak na biranje levela", levels_index_path(:concept_id => @q.level.concept_id), :class => "give-up"  %>	
<% end %>
