

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="center-block text-center">
    <h2>Registracija</h2>
    <br />
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-group form-control" %>
    </div>

    <div>
      <%= f.label :lozinka %>
      <% if @minimum_password_length %>
      <em>(minimalno <%= @minimum_password_length %> znakova)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-group form-control" %>
    </div>

    <div class="field">
      <%= f.label :potvrda_lozinke %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-group form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Registriracija", :class => "btn btn-default" %>
    </div>
    <%= render "users/shared/links" %>
  </div>
<% end %>


