<% @page_title = "Postignuća" %>
<div class="achievements">
	<div class="title">
		<%= image_tag "achievement_img.png", class: "trophy"  %>
		Postignuća
		<%= image_tag "achievement_img.png", class: "trophy"  %>
	</div>

	<div class="ach-cat">
		<%= link_to("#", :class => "open-subach ", :data => {:id => "star-collection"} ) do %>
			Skupljanje zvjezdica <%= image_tag "gold_star.png", class: "gold-star"  %>
		<% end %>
		<div id="star-collection"></div>
	</div> 
	<div class="ach-cat">
		<%= link_to("#", :class => "open-subach ", :data => {:id => "cat-trav"} ) do %>
			Uspjeh na kategorijama  <%= image_tag "complete.png", class: "complete"  %>
		<% end %>
		<div id="cat-trav"></div>
	</div> 
	<div class="ach-cat">
		<%= link_to("#", :class => "open-subach ", :data => {:id => "quest"} ) do %>
			Odgovori na pitanja  <%= image_tag "questions.png", class: "questions"  %>
		<% end %>
		<div id="quest"></div>
	</div> 
	<div class="ach-cat">
		<%= link_to("#", :class => "open-subach ", :data => {:id => "misc"} ) do %>
			Ostalo <%= image_tag "q_mark.png", class: "q-mark"  %>
		<% end %>
		<div id="misc"></div>
	</div> 
</div>
   