<% @page_title = "Postignuća" %>
<div class='achievements'>
	<div class="ach-h">
		Postignuća
	</div>
	<table>
		<%if !@user_achievements.blank?%>
			<% completed = [] %>
			<% @user_achievements.each do |u_a| %>
				<% if u_a.user_id == current_user.id %>
					<% completed << u_a.achievement_id %>
				<% end %>
			<% end %>
		<% end %>	

		<% if !(completed.blank?) %>
			<% @achievements.each do |a| %>
				<% if completed.include? a.id %>
					<tr>
						<td class='ach-c'>
							<%= a.name %>
							<%= image_tag "achievement_img.png", class: "ach-completed" %>
						</td>
					</tr>
				<% else %>
					<tr>	
						<td class='ach-inc'>
							<%= a.name %>
							<%= image_tag "no_sign.png", class: "ach-incomplete" %>
						</td>
					</tr>
				<% end %>
			<% end %>
		<% else %>
			<% @achievements.each do |a| %>
				<tr>	
					<td class='ach-inc'>
						<%= a.name %>
						<%= image_tag "no_sign.png", class: "ach-incomplete" %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
   